.imgContainer {
  display: flex;
  justify-content: center;

  width: 100%;
}

.imgContainer>div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.navigation {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.navigation button {
  padding: 6px 12px;
  background: #ccc6af;
  border: 0;
  border-radius: 6px;
}

.navigation button[disabled] {
  opacity: 0.2;
  cursor: 'default';
}